*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}

body{
    padding: 30px;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
}

form{
    background-color: #eee;
    max-width: 450px;
    border-radius: 5px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 15px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 22%);
}

input{
    height: 35px;
    padding: 0 15px;
    border: 1px solid cadetblue;
    border-radius: 3px;
    outline: none;
}

textarea{
    border: 1px solid cadetblue;
    border-radius: 3px;
    padding: 15px;
    outline: none;
}

h1{
    text-align: center;
    color: #444;
    letter-spacing: -2px;
    margin-bottom: 20px;
    color: cadetblue;
    font-weight: 700;
}

button{
    background-color: cadetblue;
    color: #fff;
    border: 1px solid cadetblue;
    padding: 5px 15px;
    border-radius: 3px;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 0.8rem;
}

button:hover{
    background-color: transparent;
    color: cadetblue;
}

.title{
    font-size: 18px;
    color: #444;
    text-transform: uppercase;
    font-weight: 500;
}

.task{
    font-size: 14px;
    color: #444;
}